body{
    background-color: #17202A;
    height: 100vh;
}

img {
    border-radius: 3px;
}

#main{
    margin: 0 auto;
}

.bg-sticky {
    background-color: #17202A;
}

.img-show {
    position: relative;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    z-index: 100;
}

.row {
    align-items: center;
    vertical-align: middle;
}

.col-sm-6, .col-md-4, .col-lg-3 {
    margin: 0 auto;
    padding: 1em;
}

.col-sm-3 {
    padding: 0.5em;
}

.img-card{
   width: 100%;
   position: relative;
   /* opacity: 0.95; */
}

.img-card:hover {
    transition: 0.5s;
    filter: contrast(110%) brightness(110%);
}

@keyframes cont-anim {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.img-container{
    animation: cont-anim 1s ease 0s 1 normal forwards;
    align-items: center;
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: 1s;
}

.img-unselected {
    border: none;
    margin: 0;
}

.img-selected{
    border: 1px solid #F2F3F4;
}

.delay-1s {
    animation: fade-out 1s ease 0s 1 normal forwards;
}

@keyframes fade-out {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-250px);
	}
}

.navbar {
    height: max-content;
    padding: 5px;
    background-color:#F2F3F4;
    z-index: 1030;
 }
 
 .navbar a {
     color: #17202A;
     opacity: 0.9;
     text-decoration: none;
     font-weight: 700;
     text-transform: uppercase;
 }

 .navbar a:hover {
     opacity: 1;
     transition: 0.3s;
 }


.footer {
    font-size: small;
    color: #999;
    text-align: center;
    position: static;
    padding: 1em;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer a{
    color: #2E86C1;
    text-decoration: none;
    opacity: 0.75;
} 

.footer a:hover {
    transition: 0.5s;
    opacity: 1;
}

@media(max-width: 575px){

    .img-container{ display: none;}

}