body{
    background-color: #17202A;
    height: 100vh;
}

img {
    border-radius: 3px;
}

h5 {
    font-size: 1em;
    opacity: 0.75;
    letter-spacing: 0.1em;
}

#main{
    margin: 0 auto;
}

#home-link{
    color: #AED6F1;
    text-transform: lowercase;
}

.bg-sticky {
    background-color: #17202A;
}

.img-show {
    position: relative;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    z-index: 100;
    border-radius: 5px;
}

.row {
    align-items: center;
    vertical-align: middle;
}

.col-sm-6, .col-md-4, .col-lg-3 {
    margin: 0 auto;
    padding: 1em;
}

.col-sm-3 {
    padding: 0.5em;
}

.img-card{
   width: 100%;
   position: relative;
}

.img-card:hover {
    transition: 0.5s;
    filter: contrast(110%) brightness(110%);
}

@keyframes cont-anim {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.img-container{
    animation: cont-anim 1s ease 0s 1 normal forwards;
    align-items: center;
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: 1s;
}

.img-unselected {
    border: none;
    margin: 0;
}

.img-selected{
    border: 1px solid #F2F3F4;
}

.close-btn {
    color: #F2F3F4;
    background-color: #17202A;
    border: none;
    border-radius: 3px;
    opacity: 0.75;
    display: inline; 
    position: absolute;
}

.overlay .close-btn {
    opacity: 1;
    position: absolute;
    right: 6px;
    top: 6px;
    transform: scale(2);
}

.top-right {
    position: absolute;
    top: 5px;
    right: 45px;
    z-index: 1500;
  }

  @keyframes overlay-m {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 0.95;
		transform: translateY(0)
	}
}

.overlay {
    animation: overlay-m 1s ease 0s 1 normal forwards;
    height: 100vh;
    width: 100%;
    position: fixed; 
    z-index: 2000;
    left: 0;
    top: 0;
    background-color: #17202A;
    display: block;
    opacity: 0.95;
  }
  
.overlay-content {
    position: relative;
    top: 20%;
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
    color: #F2F3F4;
  }

.hamburger-menu{
    color: #17202A;
    transform: scale(2);
    padding-bottom: 3px;
    cursor: pointer;
}
@keyframes fade-out {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-250px);
	}
}

.delay-1s {
    animation: fade-out 1s ease 0s 1 normal forwards;
}

.about-container {
    padding: 1em;
    margin: 0 auto;
    font-size: 0.75em;
    max-width: 500px;
}

.about-container h2 {
    font-size: medium;
    font-weight: 700;
    padding-top: 1.5em;
    padding-bottom: 0.25em;
    text-transform: uppercase;
}

.me-img {
    max-width: 200px;
    filter: contrast(110%);
}

.me-img:hover{
    transition: 0.5s;
    filter: contrast(120%);
}

.navbar {
    height: max-content;
    padding: 5px;
    background-color:#F2F3F4;
    z-index: 1030;
 }
 
 .navbar a {
     color: #17202A;
     opacity: 0.8;
     text-decoration: none;
     font-weight: 700;
     text-transform: uppercase;
 }

 .navbar a:hover {
     opacity: 1;
     transition: 0.4s;
 }


.footer {
    font-size: small;
    color: #999;
    text-align: center;
    position: static;
    padding: 1em;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer a{
    color: #2E86C1;
    text-decoration: none;
    opacity: 0.75;
} 

.footer a:hover {
    transition: 0.5s;
    opacity: 1;
}

@media(max-width: 575px){
    .img-container{ display: none;}
}